#tagcloud .glyphicon {
  margin-top: -10px;
  margin-right: -8px;
}
#tagcloud {
  text-align: center;
  background-color: #005273;
  width: 100%;
  margin-bottom: 2em !important;
  max-width: 700px;
  margin: auto;
  border: 0;
  box-shadow: 1px 1px 5px #000;
}
#search {
  width: 100%;
  max-width: 375px;
  margin: auto;
  height: 35px;
  margin-bottom: 5em;
  text-align: center;
}

#search input {
  width: 100%;
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
  border: 0;
  background-color: inherit;
  border-bottom: 3px solid;
}

#search input:focus {
  outline: none;
}

#remove-search {
  font-size: 25px;
  float: right;
}
#remove-search:hover {
  color: #d9230f;
}
