#recommendations {
  padding: 1em 1em 2.5em 1em;
  border: 1px solid #029acf;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  max-width: 500px;
  box-shadow: 1px 1px 10px 1px #888;
}
#recommendations a {
  color: #666;
  cursor: pointer;
  font-size: 16px;
}
#recommendations div {
  padding: 3px;
}
#recommendations p {
  display: inline;
  font-size: 16px;
}
#recommendations span {
  margin-bottom: 2em;
}
#recommendations .glyphicon {
  color: #f15928;
  font-size: 15px;
  margin-right: 1em;
  margin-left: 1em;
}
