#account-dropdown {
  button {
    background: none;
    border: none;
    color: white;
    box-shadow: none;
    padding: 1px;
  }
  .dropdown-menu {
    margin-top: -.5em;
    margin-right: -.5em;
  }
  .dropdown-menu li a:hover {
    background-color: #ccc;
  }
  .dropdown-item {
    text-align: center;
    padding: 0;
    color: black;
  }
}

@media screen and (max-width: 768px)  {
  #account-dropdown {
    position: relative;
    z-index: 99;
    button {
      padding-bottom: 2em;
    }
    .dropdown-menu li a {
      background-color: white;
    }
    .dropdown-menu li a {
      padding: 1em;
    }
    .dropdown-item {
      text-align: center;
      padding: 0;
      color: black;
    }
  }
}
